<div class="container">
<div class="row">
<div class="col-xs-3">
<h2>プロフィール</h2>
	<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: "jpeg", fallback:"no_image.jpg" %>
	<h3><%= @user.name %></h3>
	<div class="table-responsive">
	<table class="table">
			<tr>
				<th>自己紹介</th>
				<th><%= @user.introduction %></th>
			</tr>
	</table>
	</div>
		<% if @user.id == current_user.id %>
			<p><%= link_to "プロフィール編集", edit_user_path(@user), class:"btn btn-primary btn-block" %></p>
		<% end %>
</div>
<div class="col-xs-9">
	<h2>投稿一覧</h2>
		<% @reviews.each do |review| %>
		<div>
			<div class="row">
				<%= attachment_image_tag review.user, :profile_image, :fill, 60, 60, fallback:"no_image.jpg" %>
				<%= link_to review.user.name, user_path(review.user) %>
				<%= review.created_at.strftime("%Y-%m-%d %H:%M") %>
			</div>
			<div class="row">
				カテゴリー：<%= review.category.name%>
				<h4>作品名：<%= review.tag_list %></h4>
			</div>
			<%= review.body %>
			<div class= "row" id='favorites_buttons_<%= review.id %>'>
				<%= render 'favorites/favorite', review: review %>
			</div>
			<div class="row pull-right">
				<%= link_to "編集", edit_review_path(review) %>
				<%= link_to "削除", review_path(review), method: :delete, "data-confirm" => "本当に削除しますか?" %>
			</div>
		</div>
		<% end %>
</div>
</div>
</div>