<div class="container">
<div class="row">
<div class="col-md-3">
	<!-- プロフィール -->
<h2>プロフィール</h2>
	<%= attachment_image_tag @user, :profile_image, size: "100x100", format: "jpeg", fallback:"/images/no_image.jpg" %>
	<h3><%= @user.name %></h3>
	<div class="table-responsive">
	<table class="table">
			<tr>
				<th>自己紹介</th>
				<th><%= @user.introduction %></th>
			</tr>
	</table>
	</div>
		<% if user_signed_in? && @user.id == current_user.id %>
			<p><%= link_to "プロフィール編集", edit_user_path(@user), class:"btn btn-primary btn-block" %></p>
		<% end %>
</div>
<div class="col-md-9">
	<!-- カプセル・メニュー -->
	<ul class="nav nav-pills">
		<li class="active"><a href="#reviews" data-toggle="tab"><h4>投稿感想一覧(<%= @user.reviews.count %>)</h4></a></li>
		<li><a href="#favorites" data-toggle="tab"><h4>いいね一覧(<%= @user.favorites.count %>)</h4></a></li>
	</ul>
	<!-- 内容 -->
	<div class="tab-content">
		<div class="tab-pane active" id="reviews">
			<% @reviews.each do |review| %>
			<%= render 'reviews/list', review: review %>
			<% end %>
			<%= paginate @reviews, class: "paginate" %>
		</div>
		<div class="tab-pane" id="favorites">
			<% @favorites.each do |favorite| %>
			<% review = Review.find(favorite.review_id) %>
			<% if review.open == true %>
			<%= render 'reviews/list', review: review %>
			<% end %>
			<% end %>
			<%= paginate @favorites, class: "paginate" %>
		</div>
	</div>
</div>
</div>
</div>