<div style="border-bottom: thin solid; margin-bottom: 5px;">
	<div class="row">
		<%= attachment_image_tag review.user, :profile_image, size: "50x50", format: "jpeg", fallback:"/images/no_image.jpg" %>
		<%= link_to review.user.name, admins_user_path(review.user) %>
		<%= review.created_at.strftime("%Y-%m-%d %H:%M") %>
	</div>
	<div class="row">
		<span style="font-size: 20px; font-weight: bold;"><%= raw(review.tag_list.map { |t| link_to t, admins_tag_path(t) }.join(',')) %></span>
		<span class="label label-primary"><%= review.category.name %></span>
		<% if review.open == false %>
			<span class="label label-default">非公開</span>
		<% end %>
		<% if review.spoiler == true %>
			<span class="label label-danger">ネタバレ</span>
		<% end %>
	</div>
	<div style="margin: 5px 0;">
		<%= review.body %>
	</div>
	<div class="row">
		<div class= "col-xs-4" id='favorites_buttons_<%= review.id %>'>
			<%= render 'favorites/favorite', review: review %>
		</div>
		<div class="col-xs-offset-5 col-xs-3 pull-right">
			<%= link_to "編集", edit_admins_review_path(review) %>
			<%= link_to "削除", admins_review_path(review), method: :delete, "data-confirm" => "本当に削除しますか?" %>
		</div>
	</div>
</div>